<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Pets</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h2>Registered Doctors</h2>

    <table>
        <thead>
            <tr>
                <th>Name </th>
                <th>Specializing</th>
                <th>Email</th>
                <th>Contact</th>
                
               
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.speciality }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.contact}}</td>
                
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>